@font-face {
  font-family: 'Kyoukasho';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src:
    url(media/Kyoukasho.subset.kana.woff2) format('woff2'),
    url(media/Kyoukasho.subset.kana.woff) format('woff'),
    url(media/Kyoukasho.subset.kana.ttf) format('ttf');
}

*{
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: Arial;
  font-size: 22px;
  margin: 0;
  overflow: hidden;
  -ms-content-zooming: none;
}

html, body, #app, #app>div{
  height: 100%;
}

@import "Loading.scss";
@import "Menu.scss";
@import "Main.scss";
@import "Header.scss";
@import "Content.scss";
@import "Table.scss";
