@font-face {
  font-family: 'Kyouka';
  font-style: normal;
  font-weight: 400;
  src: local('Kyouka'), 
    url(media/kyouka.woff) format('woff'),
    url(media/kyouka.ttf) format('ttf');
}

*{
  box-sizing: border-box;
  position: relative;
}

body{
  font-family: Arial;
  font-size: 22px;
  margin: 0;
  overflow: hidden;
  -ms-content-zooming: none;
}

@import "Loading.scss";
@import "Menu.scss";
@import "Header.scss";
@import "Content.scss";
@import "Table.scss";
