article{
  position: fixed;
  top: 50px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow-x: auto;
}

@media (min-width: 800px){
  article{
    padding: 5px;
    position: absolute;
    width: calc(100vw - 300px);
    
    & table{
      margin: 0 10px;
      width: calc(100% - 10px);
      max-width: 700px;
    }
  }
}

@media (min-width: 1000px){
  article{
    width: calc(100vw - (50vw - 1000px / 2 + 300px));
  }
}
