#loading{
  margin: 50vh auto;
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  & .loadingIcon{
    height: 35px;
    width: 35px;
    position: relative;
    animation: revolve 600ms infinite linear;
    display:inline-block;
    margin: 0 10px;
    
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      width: 15%;
      height: 15%;
      content: '';
      background-color:black;
      border-radius: 50%;
    }
  }

  & > span{
    margin-left: 10px;
  }
}


@keyframes revolve{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
