.react-swipe-menu{
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;

  & > .react-swipe-menu-navigation{
    position: fixed;
    top: 0;
    left: 0;

    width: 80%;
    min-width: 300px;
    max-width: 350px;
    height: 100vh;
    padding: 10px;

    background: #C70025;
    color: white;
    font-size: 16px;

    transform: translateX(-100%);
    padding-top: 60px;
    transition: transform .4s;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-y: auto;

    @media (min-width: 800px){
      &{
        position: absolute;
        top: 50px;
        left: 10px;
        width: 300px;
        transform: translateX(0);
        background-color: transparent;
        color: black;
        padding-top: 80px;
        height: calc(100vh - 50px);
      }
    }
    
    @media (min-width: 1000px){
      &{
        left: calc(50vw - 1000px / 2 + 10px);
      }
    }
  }

  & > .react-swipe-menu-backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }

  & > .react-swipe-menu-toggle{
    font-size: 50px;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all .4s;

    @media (min-width: 800px){
      &{
        display: none;
      }
    }

    & > .react-swipe-menu-line{
      position: absolute;

      background: white;
      width: .64em;
      height: 3px;
      left: .18em;

      transition: all .4s;

      &:first-of-type{
        top: .22em;
      }

      &:nth-of-type(2){
        top: .468em;
      }

      &:last-of-type{
        top: .71em;
      }
    }
  }
}
