nav{
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100vh;
  padding: 10px;

  background: #C70025;
  color: white;
  font-size: 16px;

  z-index: 100;
  transform: translateX(-100%);
  padding-top: 60px;
  transition: transform .4s, box-shadow .4s;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow-y: auto;
  
  #menuToggle:checked ~ &{
    transform: translateX(0);
    box-shadow: 0 0 70px rgba(0,0,0,1);
  }
}

#clickOutsideNav{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  display: none;
  
  #menuToggle:checked ~ &{
    display: block;
  }
}





#menuToggle{display: none;}






#menuButton{
  font-size: 44px; /* use this to control the icon size */
  position: fixed;
  top: 3px;
  left: 3px;
  z-index: 101;
  display: block;
  width: .64em;
  height: .07em;
  border: 0 solid transparent;
  border-width: .468em .18em;
  background-color: white;
  background-clip: content-box; 
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  transition: transform .4s, background-color .3s;
  

  &::before, &::after{
    content: '';
    display: block;
    width: .64em;
    height: .07em;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    transition: transform .4s;
    transform: translateY(-.24em);
  }
  &::after{
    transform: translateY(.24em);
  }

  #menuToggle:checked ~ &{
    transform: rotate(-90deg);
    background-color: transparent;
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
  }

}





@media (min-width: 800px){
  nav{
    position: absolute;
    top: 50px;
    left: 10px;
    transform: translateX(0);
    background-color: transparent;
    color: black;
    box-shadow: none !important;
    padding-top: 80px;
    height: calc(100vh - 50px);
    
    & .menuTitle{
      top: 30px;
    }
  }

  #menuButton{
    display: none;
  }

  #menuToggle ~ #clickOutsideNav{
    display: none !important;
  }
}

@media (min-width: 1000px){
  nav{
    left: calc(50vw - 1000px / 2 + 10px);
  }
}
