table{
  border-collapse: collapse;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  table-layout: fixed;
  transform-origin: top;
  font-size: 22px;
  
  & td{
    padding: .05em;
    text-align: center;
    position: static;
    overflow: hidden;
    background-clip: padding-box;
    border: 1px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    
    & > span {
      display: table;
      margin: 0 auto;
      
      & > div {
        white-space: nowrap;
        display: table-row;
      }
    }

    &.bold{
      font-weight: bold;
    }

    &.highlightRomanji{
      background-color: hsl(120,73%,90%) !important;
    }

    &.highlightCurrent{
      background-color: hsl(120,73%,80%) !important;
      -webkit-user-select: auto;
      -moz-user-select: auto;
      -ms-user-select: auto;
      user-select: auto;
    }

    &.highlightHiragana .hiragana, &.highlightKatakana .katakana{
      font-weight: bold;
      color: red;
    }

    &.highlightExceptions .romanji{
      font-weight: bold;
    }

    & .romanji, & .pronunciation{
      font-size: 75%;
    }

    &.hide{
      display: none;
    }

    & .svgStrokes{
      background-size: 26.2em;
      height: 2em;
      width: 2em;
      color: transparent !important;
      margin: 0 auto;
    }

    & .svgStrokes.hiragana{
      background-image: url(./media/hiragana.min.svg);
    }

    & .svgStrokes.katakana{
      background-image: url(./media/katakana.min.svg);
    }

    &.foreign{
      color: #888;
    }
  }

  &.handwritten{
    & .hiragana, & .katakana{
      font-family: Kyoukasho, Arial;
      font-weight: bold;
      letter-spacing: -.4em;
      transform: translateX(-.2em);

    }
    & .romanji, & .pronunciation{
      font-size: 50%;
    }
  }
}

@media (max-width: 799px){
  table tr:first-of-type td{
    border-top: none;
  }

  table tr:last-of-type td{
    border-bottom: none;
  }

  table tr td:first-of-type{
    border-left: none;
  }

  table tr td:last-of-type{
    border-right: none;
  }
}

@media (min-width: 800px){
  table{
    margin: 0 10px;
    width: calc(100% - 10px);
    min-height: calc(100% - 4px);
    max-width: 700px;
  }
}
